@page "/about"

@using TryMauiBlazor.Models

<Title Value="About" />

<div style="text-align: center;">
    <MudImage Src="images/dotnet_bot.svg" Width="128" Alt="Dotnet Bot" Class="ma-4" />

    <MudText Typo="Typo.h4" GutterBottom="true">@AppInfo.Name</MudText>
    <MudText Class="mb-4">@AppInfo.Version</MudText>
    <MudText Class="mb-8" Typo="Typo.body2">
        This app is written with MudBlazor and .NET MAUI.
    </MudText>
</div>

<div class="mx-4 mt-4">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Href="https://aka.ms/maui">
        Click here for more info
    </MudButton>
</div>