@page "/"

<Title>@AppInfo.Name</Title>

<div class="d-flex gap-4">
    <MudImage Src="images/dotnet_bot.svg" Width="128" Alt="Dotnet Bot" Class="ma-4" />

    <div>
        <MudText Typo="Typo.h4" GutterBottom="true">Hello, world!</MudText>
        <MudText Class="mb-8">Welcome to your new app, powered by MudBlazor and .NET MAUI!</MudText>
    </div>
</div>

<MudAlert Severity="Severity.Normal">
    You can find documentation and examples on our website here:
    <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit">
        <b>www.mudblazor.com</b>
    </MudLink>
</MudAlert>
