@page "/"

<Title Value="Notes" />

@if (_isLoading)
{
    <div class="d-flex justify-center">
        <MudProgressCircular Class="mt-2" Size="Size.Medium" Indeterminate="true" />
    </div>
}
else
{
    @foreach (var note in NoteStoreService.Notes)
    {
        <MudCard Class="mb-4">
            <MudCardHeader Style="display: block;">
                <CardHeaderContent>
                    <MudText Typo="Typo.h6" Style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        @note.Title
                    </MudText>
                </CardHeaderContent>
            </MudCardHeader>

            <MudCardContent>
                <MudText Typo="Typo.body2">@note.Date</MudText>
            </MudCardContent>

            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="@($"/note/{note.Filename}")">Edit</MudButton>
            </MudCardActions>
        </MudCard>
    }
}

<span class="fab">
    <MudTooltip Text="Add note">
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Href="/note" />
    </MudTooltip>
</span>